In [59]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/ai-companies/Ai_companies.csv

In [60]:
df = pd.read_csv('/kaggle/input/ai-companies/Ai_companies.csv')
df

,Company Name,Description,Headquarters,Founded,Annual Revenue,Glassdoor Score
0,Alibaba Cloud,Best for Big Data Analytics,"Hangzhou, China",2009,$479.5 million,3.7/5
1,DataRobot,Best for Automated Machine Learning,"Boston, Massachusetts",2012,$338.2 million,3.7/5
2,Google,Best for AI Development,"Mountain View, California",1998,$305.6 billion,4.4/5
3,Hugging Face,Best for Deploying AI Models in the Cloud,"Brooklyn, New York",2016,$40 million,4.3/5
4,H2O.ai,Best for Time Series Forecasting,"Mountain View, California",2011,$69.2 million,3.1/5
...,...,...,...,...,...,...
95,Nuro,Best for Driverless Operation,"Mountain View, California",2016,$438.8 million,3.8/5
96,Pony.ai,Best for Robotruck Development,"Fremont, California",2016,$100 million,3.4/5
97,Tesla,Best for Electric Vehicles,"Austin, Texas",2003,$96.77 billion,3.6/5
98,Waymo,Best for Experience and Testing,"Mountain View, California",2016,$1.4 billion,3.7/5
99,Zoox,Best for Robotaxi Services,"Foster City, California",2014,$897.1 million,3.9/5

In [61]:
df['Headquarters'] = df['Headquarters'].apply(lambda x: x.split(',')[-1].strip())

Keeping only the Country/State names.

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company Name     100 non-null    object
 1   Description      100 non-null    object
 2   Headquarters     100 non-null    object
 3   Founded          100 non-null    int64
 4   Annual Revenue   100 non-null    object
 5   Glassdoor Score  98 non-null     object
dtypes: int64(1), object(5)
memory usage: 4.8+ KB

In [63]:
df["Glassdoor Score"] = df["Glassdoor Score"].str.replace("/5", "")

I was trying to extract only the ratings but I was getting an unexpected error of "5 Apr" When checked i found 5 companies that had a rating of 4 were having the values "5 Apr". It maybe a scrapping issue. Will try to find and fix it. Till then you may either replace it too or chooseto remove them from dataset.

In [64]:
df['Glassdoor Score'].unique()

array(['3.7', '4.4', '4.3', '3.1', '3.9', nan, '3.4', '3.8', '4.1', '3.6',
       '4.5', '3.3', '4.8', '3.2', '5-Apr', '4.6', '4.7', '3.5', '4.2',
       '4.9', '2.9'], dtype=object)

In [65]:
df["Glassdoor Score"] = df["Glassdoor Score"].replace("5-Apr", "4")

In [66]:
df.isnull().sum()

Company Name       0
Description        0
Headquarters       0
Founded            0
Annual Revenue     0
Glassdoor Score    2
dtype: int64

Removed the 2 null values.

In [67]:
df = df.dropna().reset_index(drop=True)
df

,Company Name,Description,Headquarters,Founded,Annual Revenue,Glassdoor Score
0,Alibaba Cloud,Best for Big Data Analytics,China,2009,$479.5 million,3.7
1,DataRobot,Best for Automated Machine Learning,Massachusetts,2012,$338.2 million,3.7
2,Google,Best for AI Development,California,1998,$305.6 billion,4.4
3,Hugging Face,Best for Deploying AI Models in the Cloud,New York,2016,$40 million,4.3
4,H2O.ai,Best for Time Series Forecasting,California,2011,$69.2 million,3.1
...,...,...,...,...,...,...
93,Nuro,Best for Driverless Operation,California,2016,$438.8 million,3.8
94,Pony.ai,Best for Robotruck Development,California,2016,$100 million,3.4
95,Tesla,Best for Electric Vehicles,Texas,2003,$96.77 billion,3.6
96,Waymo,Best for Experience and Testing,California,2016,$1.4 billion,3.7
97,Zoox,Best for Robotaxi Services,California,2014,$897.1 million,3.9

In [68]:
def clean_revenue(value):
    if isinstance(value, str):  
        value = value.replace("$", "").strip()  
        num = "".join([c for c in value if c.isdigit() or c == "."])  

        if "billion" in value:
            return float(num)  
        elif "million" in value:
            return float(num) / 1000  
        else:
            return float(num) / 1000 if num else None  
    return None  

df["Annual Revenue"] = df["Annual Revenue"].apply(clean_revenue)

Removed dollar sign and converted millions to billions.

In [69]:
df

,Company Name,Description,Headquarters,Founded,Annual Revenue,Glassdoor Score
0,Alibaba Cloud,Best for Big Data Analytics,China,2009,0.4795,3.7
1,DataRobot,Best for Automated Machine Learning,Massachusetts,2012,0.3382,3.7
2,Google,Best for AI Development,California,1998,305.6000,4.4
3,Hugging Face,Best for Deploying AI Models in the Cloud,New York,2016,0.0400,4.3
4,H2O.ai,Best for Time Series Forecasting,California,2011,0.0692,3.1
...,...,...,...,...,...,...
93,Nuro,Best for Driverless Operation,California,2016,0.4388,3.8
94,Pony.ai,Best for Robotruck Development,California,2016,0.1000,3.4
95,Tesla,Best for Electric Vehicles,Texas,2003,96.7700,3.6
96,Waymo,Best for Experience and Testing,California,2016,1.4000,3.7
97,Zoox,Best for Robotaxi Services,California,2014,0.8971,3.9

In [70]:
df["Glassdoor Score"] = pd.to_numeric(df["Glassdoor Score"], errors="coerce")
df["Annual Revenue"] = pd.to_numeric(df["Annual Revenue"], errors="coerce")

Converted the Glassdoor Score and Annual Revenue to appropraite data typ i.e numeric.

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company Name     98 non-null     object
 1   Description      98 non-null     object
 2   Headquarters     98 non-null     object
 3   Founded          98 non-null     int64
 4   Annual Revenue   98 non-null     float64
 5   Glassdoor Score  98 non-null     float64
dtypes: float64(2), int64(1), object(3)
memory usage: 4.7+ KB